body {
    background-image: url("https://images.unsplash.com/photo-1536514498073-50e69d39c6cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80");
    background-size: cover;
    color: midnightblue;
    font-family: 'Lora', serif;
}

#info-messages {
    margin-top: 5%;

}


th, tr, td {
    text-align: center;
}

.alert  {

    width: 52%;
    margin-left: 26%;
    font-family: 'Lora', serif;


}
.col-md-6{
    background-color: lightsteelblue;
    padding-bottom: 3%;
    margin-top: 3%;
    margin-left: 27%;
    text-align: center;


}

#na, #ag, #pl, #em, #submit {
    display: none;
}

#tl {
    background-color: lightsteelblue;
    width: 80%;
    margin-top: 3%;

}

#usr {

    margin-top: 3%;
    margin-bottom: 5%;

}

h1 {
    font-weight: bolder;
}

label {
    font-size: x-large;

}

#sf-sub {
    margin-left: 40%;
}

#sub {
    margin: auto;
    padding:  15px  40px 15px 40px;
    text-decoration-color: antiquewhite;

}

#background {

    background: rgba(76, 175, 80, 0.3);
    padding-bottom: 5%;
    padding-top: 2%;
    width: 38%;
    margin-left: 32.2%;


}

#ly {
    font-weight: bold;
    text-align: center;

}

#formform {
    margin: auto;
    width: 55%;
}

input::placeholder {
    color: white;

}



tr, td, th {
    border-style: solid;
    border-width: 2px;
}


.image{
    width: 75%;
}